{% extends 'base.html.twig' %}

{% block body %}
Création d'un cours
{{ form_start(formCourse) }}
{{ form_widget(formCourse) }}
<button class="btn btn-primary btn-sm">Ajouter</button>
{{ form_end(formCourse) }}
{% endblock %}

{% block title %}
Création un cours | {{ parent() }}
{% endblock %}

